{% extends 'butiko/base.html' %}

{% block content %}
    <p class="warning">Delete {{ object.title }}? </p>
    <form action="{% url 'delete_item' objectStr=type pk=object.pk%}" class="delete-form" method="POST">{% csrf_token %}
        <input class="btn btn-default" type="submit" value="Yes">
    </form>
    {% if object_type == "item" %}
        <a href="{% url 'list_detail' pk=item.itemList.pk %}" class="btn btn-default">No</a>
    {% elif object_type == "list" %}
        <a href="{% url 'home_page' %}" class="btn btn-default">No</a>
    {% endif %}
{% endblock %}
