{% extends 'butiko/base.html' %}

{% block content %}
    {% if userItems %}
        {% for listEl in userItems %}
            <div class="list-summary">
                <a href="{% url 'list_detail' pk=listEl.pk %}">{{ listEl.title }} <span>({{ listEl.item_set.count}} items)</span></a>
                <a class="button-link" href="{% url 'delete_item' pk=listEl.pk objectStr='list' %}"><span class="glyphicon glyphicon-remove listbutton fright"></span></a>
                <p class="date"> Last Modified: {{ listEl.modified }} </p>
            </div>
        {% endfor %}
        <br>
        <a href="{% url 'add_new_list' %}" class="btn btn-default">Add New List</a>
    {% else %}
    <div>
        <p> Use this site to manage your grocery list. <p>
    </div>
    {% endif %}
{% endblock %}
